In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [4]:
# Load the dataset
df=pd.read_csv('C:/Users/JAY/Customer-Churn-Prediction/Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# Preprocess the dataset
# Drop the irrelavant features
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
# Encoding categorical varibles Label encoder
label_encoder_gender=LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])

In [7]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [8]:
# Onehot encoder Geography
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
# Combine one hot encoder columns with the original data frame
df=pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
# Divide the dataset into independent and dependent features
X=df.drop('EstimatedSalary',axis=1)
y=df['EstimatedSalary']

In [11]:
# Split the dataset into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [12]:
# Scale these featurs
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [13]:
# Save the encoders
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
    
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

# Save the sacler
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [14]:
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

# Regression Problem Statement

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [16]:
# Build our ANN model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),  # Hidden layer 1 connected with input layer
    Dense(32,activation='relu'), # Hidden layer 2
    Dense(1) # output layer
])

# Compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

c:\Users\JAY\Customer-Churn-Prediction\final\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [17]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

# Set up Tensorboard
log_dir="regressionlogs/fit/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [18]:
# Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [19]:
# Train the model
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 99354.9141 - mae: 99354.9141 - val_loss: 98457.2188 - val_mae: 98457.2188
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 101134.5234 - mae: 101134.5234 - val_loss: 96567.8438 - val_mae: 96567.8438
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 96782.3125 - mae: 96782.3125 - val_loss: 91817.1953 - val_mae: 91817.1953
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 92446.2500 - mae: 92446.2500 - val_loss: 84127.5156 - val_mae: 84127.5156
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 82624.1641 - mae: 82624.1641 - val_loss: 74660.2891 - val_mae: 74660.2891
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 72108.8516 - mae: 72108.8516 - val_loss: 65412.4844 - val_mae: 65412.4844
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 64677.8789 - mae: 64677.8789 - val_loss: 58105.6211 - val_mae: 58105.6211
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 57592.7617 - mae: 57592.7617 - val_loss: 53563.7930 - val_mae: 53563.7930
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 52887.7500 - mae: 52887.7500 - val_loss: 51399.1055 - val_mae: 51399.1055
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51622.7383 - mae: 51622.7383 - val_loss: 50734.2578 - val_mae: 50734.2578
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50348.0117 - mae: 50348.0117 - val_loss: 50570.8398 - val_mae: 50570.8398
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50150.2461 - mae: 50150.2461 - val_loss: 50511.4961 - val_mae: 50511.4961
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49921.1875 - mae: 49921.1875 - val_loss: 50487.2461 - val_mae: 50487.2461
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50141.3359 - mae: 50141.3359 - val_loss: 50459.1875 - val_mae: 50459.1875
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50183.9531 - mae: 50183.9531 - val_loss: 50440.8359 - val_mae: 50440.8359
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49609.1172 - mae: 49609.1172 - val_loss: 50422.2109 - val_mae: 50422.2109
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50256.5625 - mae: 50256.5625 - val_loss: 50415.7539 - val_mae: 50415.7539
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50012.0078 - mae: 50012.0078 - val_loss: 50405.4766 - val_mae: 50405.4766
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50001.8086 - mae: 50001.8086 - val_loss: 50384.6211 - val_mae: 50384.6211
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50419.5391 - mae: 50419.5391 - val_loss: 50365.8672 - val_mae: 50365.8672
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49701.7969 - mae: 49701.7969 - val_loss: 50361.6719 - val_mae: 50361.6719
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50344.2695 - mae: 50344.2695 - val_loss: 50351.2266 - val_mae: 50351.2266
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49343.9414 - mae: 49343.9414 - val_loss: 50345.0469 - val_mae: 50345.0469
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49917.1875 - mae: 49917.1875 - val_loss: 50336.5859 - val_mae: 50336.5859
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49661.7500 - mae: 49661.7500 - val_loss: 50331.3516 - val_mae: 50331.3516
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50232.0586 - mae: 50232.0586 - val_loss: 50325.8164 - val_mae: 50325.8164
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49383.1172 - mae: 49383.1172 - val_loss: 50316.1758 - val_mae: 50316.1758
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49897.4961 - mae: 49897.4961 - val_loss: 50313.3906 - val_mae: 50313.3906
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49690.9844 - mae: 49690.9844 - val_loss: 50309.1016 - val_mae: 50309.1016
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50004.8398 - mae: 50004.8398 - val_loss: 50317.8711 - val_mae: 50317.8711
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49687.6953 - mae: 49687.6953 - val_loss: 50309.0430 - val_mae: 50309.0430
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50315.1445 - mae: 50315.1445 - val_loss: 50303.6016 - val_mae: 50303.6016
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50716.8984 - mae: 50716.8984 - val_loss: 50292.3242 - val_mae: 50292.3242
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50051.1328 - mae: 50051.1328 - val_loss: 50304.8594 - val_mae: 50304.8594
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49374.3672 - mae: 49374.3672 - val_loss: 50284.6523 - val_mae: 50284.6523
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49285.7656 - mae: 49285.7656 - val_loss: 50282.2578 - val_mae: 50282.2578
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49679.3086 - mae: 49679.3086 - val_loss: 50297.8047 - val_mae: 50297.8047
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49700.9883 - mae: 49700.9883 - val_loss: 50295.2148 - val_mae: 50295.2148
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49598.4492 - mae: 49598.4492 - val_loss: 50285.6719 - val_mae: 50285.6719
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49205.1641 - mae: 49205.1641 - val_loss: 50287.2305 - val_mae: 50287.2305
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49268.1055 - mae: 49268.1055 - val_loss: 50293.7852 - val_mae: 50293.7852
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49673.5742 - mae: 49673.5742 - val_loss: 50294.7070 - val_mae: 50294.7070
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48980.5117 - mae: 48980.5117 - val_loss: 50290.7695 - val_mae: 50290.7695
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49656.7930 - mae: 49656.7930 - val_loss: 50281.7148 - val_mae: 50281.7148
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49137.0898 - mae: 49137.0898 - val_loss: 50287.4453 - val_mae: 50287.4453
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49383.4922 - mae: 49383.4922 - val_loss: 50283.5273 - val_mae: 50283.5273
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49675.0625 - mae: 49675.0625 - val_loss: 50291.1797 - val_mae: 50291.1797
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49457.9336 - mae: 49457.9336 - val_loss: 50286.7266 - val_mae: 50286.7266
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49582.2578 - mae: 49582.2578 - val_loss: 50292.9805 - val_mae: 50292.9805
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49383.6758 - mae: 49383.6758 - val_loss: 50302.0664 - val_mae: 50302.0664
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49159.9414 - mae: 49159.9414 - val_loss: 50299.8867 - val_mae: 50299.8867
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49013.9648 - mae: 49013.9648 - val_loss: 50306.5938 - val_mae: 50306.5938
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49807.7500 - mae: 49807.7500 - val_loss: 50296.2109 - val_mae: 50296.2109
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49700.1016 - mae: 49700.1016 - val_loss: 50294.0195 - val_mae: 50294.0195

In [32]:
# Load the Tensorboard Extension
%load_ext tensorboard

In [34]:
%tensorboard --logdir regressionlogs/fit/

Reusing TensorBoard on port 6007 (pid 13176), started 0:00:04 ago. (Use '!kill 13176' to kill it.)

In [35]:
# Evaluate model of test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f"Test MAE: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51061.6406 - mae: 51061.6406
Test MAE: 50192.44921875

In [36]:
# Save the model
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.